# If using GitHub provider
STUDIO_GITHUB_CLIENT_ID=
STUDIO_GITHUB_CLIENT_SECRET=
STUDIO_GITHUB_MODERATORS=

# If using GitLab provider
STUDIO_GITLAB_APPLICATION_ID=
STUDIO_GITLAB_APPLICATION_SECRET=
STUDIO_GITLAB_MODERATORS=

STUDIO_GOOGLE_CLIENT_ID=
STUDIO_GOOGLE_CLIENT_SECRET=
STUDIO_GOOGLE_MODERATORS=user@domain.com,user2@domain.com

# If using GitHub provider with Google Oauth
STUDIO_GITHUB_TOKEN=

# If using GitLab provider with Google Oauth
STUDIO_GITLAB_TOKEN=
